In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as soup

In [2]:
# Set up Splinter
browser = Browser('chrome')

In [3]:
# Visit the Mars Facts site
url = 'https://static.bc-edx.com/data/web/mars_facts/index.html'
browser.visit(url)

In [4]:
html = browser.html
html_soup = soup(html, 'html.parser')

In [6]:
# Find the table
table = html_soup.find('table', class_='table-striped')
table

<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 (<span class="red">Phobos </span> &amp; <span class="red"> Deimos</span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>